@keyframes blink-warning {
    70% {color: #eeeeee;}
    to {color: #eeeeee; background-color: #d3b987;}
}

@keyframes blink-critical {
    70% {color: #eeeeee;}
    to {color: #eeeeee; background-color: #f43753;}
}

* { padding:0px; margin: 0px }

#waybar {
    background: #282828; 
    color: #eeeeee;
    font-family: FiraCode Nerd Font Light, Noto Sans, sans-serif;
    font-size: 13px;
}

#battery, #clock, #cpu, #custom-keyboard-layout, #memory, #mode, #network, #pulseaudio, #temperature, #tray {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 60px;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning { color: #d3b987; }
#battery.critical { color: #f43753; }

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#cpu.warning { color: #d3b987; }
#cpu.critical { color: #f43753; }

#memory.critical {
    color: #f43753;
    animation-name: blink-critical;
    animation-duration: 2s;
}
* { border-radius: 0px; }
#network.disconnected { color: #d3b987; }
#temperature.critical { color: #f43753; }

#window{ margin-left: 40px; }

#workspaces button {
    padding: 2px 2px 0px 12px;
    color: #c9d05c;
}

#workspaces button.focused {
    border-top: 1px solid #73cef4;
    background-color: transparent; 
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}
