[submodule "jabashit"]
	path = jabashit
	url = http://github.com/XayOn/jabashit/
[submodule "zshit"]
	path = zshit
	url = http://github.com/XayOn/zshit
[submodule "othershit/mutt-colors-solarized"]
	path = othershit/src/mutt-colors-solarized
	url = https://github.com/altercation/mutt-colors-solarized
[submodule "mc-solarized-skin"]
	path = othershit/src/mc-solarized-skin
	url = https://github.com/nkulikov/mc-solarized-skin
[submodule "tmuxshit"]
	path = tmuxshit
	url = http://github.com/XayOn/tmuxshit
