[submodule "dotbot-sudo"]
	path = dotbot-sudo
	url = https://github.com/DrDynamic/dotbot-sudo
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot/
[submodule "dotbot-yay"]
	path = dotbot-yay
	url = https://github.com/alexwh/dotbot-yay
