[submodule "jabashit"]
	path = jabashit
	url = http://github.com/XayOn/jabashit/
[submodule "zshit"]
	path = zshit
	url = http://github.com/XayOn/zshit
[submodule "othershit/mutt-colors-solarized"]
	path = othershit/src/mutt-colors-solarized
	url = https://github.com/altercation/mutt-colors-solarized
[submodule "mc-solarized-skin"]
	path = othershit/src/mc-solarized-skin
	url = https://github.com/nkulikov/mc-solarized-skin
[submodule "tmuxshit"]
	path = tmuxshit
	url = http://github.com/XayOn/tmuxshit
[submodule "othershit/src/irssi-colors-solarized"]
	path = othershit/src/irssi-colors-solarized
	url = https://github.com/huyz/irssi-colors-solarized
[submodule "othershit/src/ls--"]
	path = othershit/src/ls--
	url = https://github.com/trapd00r/ls--
[submodule "lifestyleshit/src/solarized"]
	path = lifestyleshit/src/solarized
	url = http://github.com/altercation/solarized
[submodule "PIMShit"]
	path = PIMShit
	url = http://github.com/XayOn/PIMShit
[submodule "vimshit"]
	path = vimshit
	url = https://github.com/XayOn/vimshit
[submodule "zsh/src/oh-my-zsh"]
	path = zsh/src/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "zsh/src/oh-my-zsh-powerline-theme"]
	path = zsh/src/oh-my-zsh-powerline-theme
	url = https://github.com/jeremyFreeAgent/oh-my-zsh-powerline-theme
[submodule "zsh/src/zsh-syntax-highlighting"]
	path = zsh/src/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/src/zsh-syntax-highlighting-filetypes"]
	path = zsh/src/zsh-syntax-highlighting-filetypes
	url = https://github.com/trapd00r/zsh-syntax-highlighting-filetypes
[submodule "zsh/src/LS_COLORS"]
	path = zsh/src/LS_COLORS
	url = https://github.com/trapd00r/LS_COLORS
[submodule "zsh/src/powerline-zsh"]
	path = zsh/src/powerline-zsh
	url = https://github.com/carlcarl/powerline-zsh
